body {
    background: black;
    color: white;
    font-family: 'Inconsolata', monospace;
}

a {
    color:lightpink;
}

p {
    margin: 5px;
}

div.header {
    position: relative;
    padding-bottom: 100px;
    left: 40%;
}
div.body {
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    font-size: large;
}

div.json-parent {
    padding-left:30px;
}

div.json-child {
    padding-left:60px;
}

p.json-child {
    padding-left:60px;
}

div p:not(:last-of-type)::after {
  content: ',';
}

div.footer {
  position: fixed;
  left: 0;
  bottom: -60%;
  padding: 10px;
  width: 100%;
  text-align: center;
  font-size: smaller;
}