body {
    height: 100%;
    width: 100%;
    background: black;
    color: white;
    font-family: 'Inconsolata', monospace;
    overflow-x: auto;
}

a {
    color:lightpink;
}

p {
    margin: 5px;
}

div.body {
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: large;
}

div.json-parent {
    padding-left:30px;
}

div.json-child {
    padding-left:60px;
}

div.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 10px;
  width: 100%;
  text-align: center;
  font-size: smaller;
}